@model List<ApplicationCore.Models.MovieCardModel>

@{
    ViewData["Title"] = "Home Page";
}
@foreach (var movie in Model)
{
    <a>
        <img src="@movie.PosterUrl" alt="@movie. Title" >
    </a>
}
